# Redis Configuration
REDIS_CONTAINER_NAME=redisclient
REDIS_IMAGE=redis:alpine3.20
REDIS_USER=tagglabs
REDIS_PASSWORD=tagglabs
REDIS_BIND_IP="0.0.0.0"
REDIS_PORT=6379
REDIS_HTTP_PORT=6379
REDIS_DB_BROKER=0
REDIS_DB_RESULT=0
REDIS_URL=redis://:Neon-Studioz-Holi-T25@redisclient:6379/0

# PostgreSQL Configuration
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_IMAGE=postgres:15-alpine
POSTGRES_USER=Neon-Studioz-Holi-T25
POSTGRES_PASSWORD=Neon-Studioz-Holi-T25
POSTGRES_DB=Neon-Studioz-Holi-T25
POSTGRES_PORT=5432
POSTGRES_HTTP_PORT=5432
POSTGRES_INITDB_WALDIR=/var/lib/postgresql/data/pg_wal  # PostgreSQL WAL directory


# NocoDB Configuration
NOCO_CONTAINER_NAME=nocodb
NOCO_IMAGE=nocodb/nocodb:latest
NOCO_DB_PORT=8081
NOCO_HTTP_PORT=8080
DB_TYPE=pg
DB_HOST=postgres
DB_PORT=${POSTGRES_PORT}
DB_USER=${POSTGRES_USER}
DB_PASS=${POSTGRES_PASSWORD}
DB_NAME=${POSTGRES_DB}
NC_DB="pg://postgres:5432?u=postgres&p=postgres5&d=postgres"

#NC_DB="pg://Neon-Studioz-Holi-T25:Neon-Studioz-Holi-T25@postgres:5432/Neon-Studioz-Holi-T25"
# formats = pg://<username>:<password>@<host>:<port>/<database>

# Docker Compose Network Configuration
# For Linux
DISPLAY=${DISPLAY}
BACKEND_URL=http://localhost:8000

# Docker Compose Network Configuration
NETWORK_MODE=host

# For Windows (uncomment these and comment the Linux ones)
# DISPLAY=host.docker.internal:0
# NETWORK_MODE=bridge
# BACKEND_URL=http://host.docker.internal:8000
# Timezone Configuration
TZ=UTC  # Set UTC timezone globally
    
# Docker Working Directory
PWD=${pwd}