# bacend/app/.env

# ALLOWED HOSTS
ALLOWED_HOSTS=*

# AWS S3 SETTINGS
AWS_ACCESS_KEY_ID="******************************"
AWS_SECRET_ACCESS_KEY="******************************"
AWS_STORAGE_BUCKET_NAME="inventoryqrcodebarcode"
AWS_S3_BUCKET_FOLDER_PATH_QR="qrcode"
AWS_S3_BUCKET_FOLDER_PATH_BARCODE="barcode"
AWS_S3_REGION_NAME="us-east-1"
AWS_ARN="arn:aws:iam::891377266155:user/sumit"

# EMAIL SETTINGS
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER="your_email@gmail.com"
EMAIL_HOST_PASSWORD="your_email_password"
DEFAULT_FROM_EMAIL="your_email@gmail.com"
CONTACT_EMAIL="your_email@gmail.com"

# TWILIO SETTINGS (for OTP)
TWILIO_ACCOUNT_SID="your_twilio_sid"
TWILIO_AUTH_TOKEN="your_twilio_auth_token"
TWILIO_PHONE_NUMBER="your_twilio_phone_number"

# Database
POSTGRES_HOST="localhost"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"
POSTGRES_PORT=5432  # Add DB_PORT if not using default

POSTGRES_ROLE="postgres"
POSTGRES_DB_NAME="postgres"
ADMIN_DB_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Razorpay Configuration
RAZORPAY_KEY=83E7A78CE32************************A6638369E863DCD55C
RAZORPAY_SECRET=68F3FBFE58FE3**********************77CF8384B5F8C94B

# server IP
SERVER_IP=localhost

# REDIS SETTINGS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=redis
REDIS_USERNAME=redis
REDIS_PASSWORD=redis
REDIS_DB=2

BASE_URL=http://0.0.0.0:8000/

# Google API Credentials
SERVICE_ACCOUNT_FILE = "~/.backend/app/credentials/office-inventory-457815-933d2b7634a8.json"
SPREADSHEET_URL= "https://docs.google.com/spreadsheets/d/1Zfz3R89APsXWb87P4aF5iH0jaFoxr7Lll8_raRkaJD8"
SHEET_NAME=sheet1
scopes=[
    "https://www.googleapis.com/auth/spreadsheets",
    "https://www.googleapis.com/auth/drive"
]

# App Configuration
TOKEN_PATH=token.pickle